[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
cartoframes = "*"
fastapi = "*"
mypy = "*"
pre-commit = "*"
pyairtable = "*"
pylint = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic-settings = "*"

[dev-packages]
pylint = "*"
black = "*"
mypy = "*"
pydantic-settings = "*"
pytest = "*"
httpx = "*"

[requires]
python_version = "3.10"
