[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
fastapi = "*"
mypy = "*"
pre-commit = "*"
pyairtable = "*"
pylint = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic-settings = "*"
pytest = "*"
pytest-mock = "*"
ratelimit = "*"
[dev-packages]
pylint = "*"
black = "*"
mypy = "*"
pydantic-settings = "*"
pytest = "*"
httpx = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
